*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

body {
  font-family: $font-family;
  font-weight: 400;
  min-height: 100vh;
  background: #fff;
  color: $neutral-07-1000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-inline: 160px;
  margin: 0 auto;

  @include max-width("laptop") {
    padding-inline: 64px;
  }

  @include max-width("mobile") {
    padding-inline: 32px;
  }
}
